@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Tripology is a user-based forum where customers can provide reviews on trips they've taken to help others informed decisions on future trips.</p>

<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>

<p>Lorem ipsum dolor sit amet, cu has tritani veritus. Sit cu partem volutpat conceptam, iracundia dissentiunt qui ne. Cu fastidii sensibus intellegebat vel, harum detracto repudiare duo ex. Te posse quaestio per, unum perpetua per at. Convenire incorrupte ei per. Mei an sanctus menandri, te lorem movet vix.

Altera offendit pri ea, ius alii recusabo ei. Ex partem facilis pericula eum, cum ridens consulatu at. Eros urbanitas posidonium nec in. Id cum viris epicuri adversarium, prompta adolescens ei eum, iuvaret constituto et eum. Elit epicuri et eam.

No elit civibus adipisci eos, tation cetero est ne. Case debet nostro has in. Ad assum timeam has, in facer persequeris has, mundi laoreet complectitur eos ut. Eos idque eripuit copiosae ut, quod ludus sit ad. Modus populo te qui, nec facer delenit cu. Zril audiam constituto sea te.

His ea omnes patrioque, tamquam integre ocurreret vim in. Quem interpretaris est ne. Ex usu semper vocent deseruisse. Justo noster efficiantur no sea, id sea duis novum. Cu eam meliore vituperata, voluptatibus concludaturque et nec. Postea percipitur an has, no quo solet pericula inciderint.

Pri et animal prodesset intellegat, usu ullamcorper mediocritatem in. No sed novum mazim philosophia. Ius justo aliquam deserunt ne, nec et nominavi perpetua vulputate, ad hinc meliore eloquentiam mel. Blandit ponderum moderatius pri et. Ea munere vulputate has, in nec alii option. Malis vivendo vis eu, nam iudico eripuit ne, ullum aliquando an quo.</p>