@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tripology Forum</h1>
    <p class="lead">Tripology is a user-based forum where customers can provide reviews on trips they've taken to help others informed decisions on future trips.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Check the Reviews! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Flights</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://www.google.com/flights/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hotels</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://www.hotels.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Car Rentals</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://www.carrentals.com/">Learn more &raquo;</a></p>
    </div>
</div>