@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tripology Forum</h1>
    <p class="lead">Tripology is a user-based forum where customers can provide reviews on trips they've taken to help others informed decisions on future trips.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Check the Reviews! &raquo;</a></p>
</div>

<div class="row" style="text-align:center;">
    <div class="col-md-4">
        <h2>Flights</h2>
        <p>Flights can get expensive. Stay alert when deals become available through our sponsor link.</p>
        <p><a class="btn btn-default" href="https://www.google.com/flights/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hotels</h2>
        <p>Great resource for finding a place to rest your head while away from home.</p>
        <p><a class="btn btn-default" href="https://www.hotels.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Car Rentals</h2>
        <p>Wherever you go, you need to get around. If you need to rent a car, check in with our sponsors.</p>
        <p><a class="btn btn-default" href="https://www.carrentals.com/">Learn more &raquo;</a></p>
    </div>
</div>