body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Playfair Display', serif;
    /*background-image: url('Images/SandBackground.jpg');
    opacity: 0.3;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: white;
    /*background-image: url('Images/TravelPic.jpg');*/
    /*opacity:0.3;*/
    image-resolution: 100dpi;
}

.col-md-4 {
    text-align:center;
    padding:0px;
    margin:0px;
    border:0px;
}

h2 {
    text-align:center;
}

.thumbnail {

}
